
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light star-light2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Swiftpoetry is a place where anyone can request Jono's poetry services in exchange for swiftcoin. We are working towards adding as many types of poems as possible.</p>
                </div>
                <div class="col-lg-4">
                    <p>Don't have swiftcoins?</p>
                    <p>Just sign up <a href="https://www.swiftdemand.com/users/sign_up">here</a>. You were<br> referred by Jono.</p>
                </div>
            </div>
        </div>
    </section>
