<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
{% include nav.html %}
    {% include header.html %}
    {% include about.html %}
        
    <section style="background-color: #{{ site.color.primary }}; color:white;" class="text-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Some sample poems</h2>
                <hr class="star-light star-light">
            </div>
        </div>
        <div class="container">
            
                <div class="row">
                    {% for poem in site.poems reversed %}
                    <div class="col-lg-6">
                        {{ if forloop.index < 2 }}
                            {{ poem.content }}
                        {{ endif }}
                    </div>
                    {% endfor %}
                </div>
            
        </div>
    </section>  
        
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
