<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
<!--    {% include nav.html %}-->
    {% include header.html %}
<!--    {% include portfolio_grid.html %}-->
    {% include about.html %}
    <h2>Some sample poems
    <section style="background-color: #{{ site.color.primary }}; color:white;">
        <div class="container">
            {% for poem in site.poems reversed %}
                <div class="row">
                    <div class="col-lg-6">
                        {{ poem.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>  
        
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
